*.pyc
venv/
mysite/secrets.py
mysite/local_settings.py
*.sqlite3
\.vagrant
node_modules/
Vagrantfile
frontend/public
package-lock.json
llama.cpp
*.log
tools/specs/custom
tools/custom.py
installed_models
test_data/
media/